.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
     
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.InputElemet {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    width: 70%;
    box-sizing: border-box;
}
.InputElemet:focus {
    outline: none;
    background-color: #ccc;
}
.Invalid {
    border: 1px solid red;
    background-color: #fda49a;
}
